/* You can add global styles to this file, and also import other style files */

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  height: calc(100vh - 5rem);
  overflow-y: scroll;
}

.centerimg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: calc(100vw - 20rem);
  max-height: calc(100vh - 7rem);
}